{% extends "layout.html" %}

{% block title %}
    Quotes
{% endblock %}

{% block main %}
<div id="cardshare">
    <div class="card text-dark bg-light mb-3" style="max-width: 30rem;">
        <div class="card-header">{{ s.name }}</div>
        <div class="card-body">
          <h4 class="card-title">{{ (s.symbol) }}</h4>
          <p class="card-text">A share of {{ s.name }} ({{ (s.symbol) }}) costs <b>{{ f }}</b></p>
          <!--<small class="text-muted">Latest time {{ lt }}</small>-->
    </div>
    <!--<div class="card-footer">
        <small class="text-muted">{{ s.primaryExchange }}</small>
    </div>-->
</div>
{% endblock %}
